{% extends 'base.html.twig' %}

{% block title %}Pages{% endblock %}

{% block body %}
    {{ username }}
    <a href="/page_1">page_1</a>
    <a href="/page_3">page_3</a>
    <a href="/page_3">page_3</a>
    <a href="/logout">Logout</a>
{% endblock %}
